body {
    background-color: rgb(113, 111, 222);
}

h2 {
    color: green;
}

p {
    margin: 2% auto 0;
    border-radius: 25px 25px 25px 0px;
    color: rgb(46, 39, 149);
}

.img {
    border-radius: 100px;
}

.container {
    background-color: rgb(113, 180, 202);
    margin: 2% auto 0;
    padding: 5%;
    width: 400px;
    border-radius: 25px 25px 25px 0px;
}